<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="starred" >
      <ion-icon aria-hidden="true" name="star" color="danger"></ion-icon>
      <ion-label color="white">Starred</ion-label>
    </ion-tab-button>
    df

    <ion-tab-button tab="lists">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" >
      <ion-icon name="arrow-redo-circle-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
