<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center"> List </ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="lists.length">
    <!-- <ion-item > -->
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let list of lists" size="12">
            <app-list-card [itemsList]="list"></app-list-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    <!-- </ion-item> -->
  </ng-container>

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button id="open-custom-dialog" expand="block">
      <ion-icon name="add" routerLink="/tabs/lists/create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
