<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="display: flex; align-items: center" class="ion-padding">
      <ion-col size="2">
        <ion-icon name="arrow-back-circle-outline" size="large" routerLink="/tabs/lists"></ion-icon>
      </ion-col>
      <ion-col size="7" class="ion-margin-start">
        <h1 size="large">Create List</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <app-item-form></app-item-form>
    </ion-row>
  </ion-grid>
</ion-content>
