/* Target the ion-header element */
ion-header {
  background-color: #ffc409; /* Set the background color */
  color: #fff; /* Set the text color */
}

/* Target the ion-toolbar within the header */
ion-toolbar {
  --background:#ffc409; /* Set the toolbar background color */
  --color: #fff; /* Set the toolbar text color */
  --ion-toolbar-background: #ffc409; /* Set the toolbar background color */
}

/* Target a specific button within the toolbar */
ion-header ion-button {
  color: #fff; /* Set the button text color */
}

/* Add additional styles as needed */
