<!-- <ion-header class="create-page-header">
  <ion-toolbar class="ion-align-items-center">
    <ion-row class="ion-align-items-center">
      <ion-col size="2" class="ion-text-start">
        <ion-icon name="arrow-back-circle-outline" size="large" routerLink="/tabs/lists"></ion-icon>
      </ion-col>
      <ion-col size="10" class="ion-text-start">
        <h1 size="large">Create List</h1>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header> -->
<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-item-form></app-item-form>
      </ion-col>
    </ion-row>
    <ion-row class="view-list">
      <ion-col>
        <h1>
          View list
        </h1>
        <ion-icon name="eye-outline" (click)="viewList()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
