@mixin header-col {
  box-sizing: border-box;
  height: 4.4rem;
  display: flex;
  align-items: center;
}

ion-toolbar {
  --background: #ff4317;
}

.header-col-1 {
  @include header-col;
  justify-content: center;
}

.header-col-2 {
  @include header-col;
  padding-bottom: 13px;
  justify-content: start;
}

.header-col-3 {
  @include header-col;
}

.view-list {
  color: #ff4317;
  font-size: 18px;
}

ion-button {
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
