<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-row>
      <ion-col size="12" class="header-col">
        <ion-title class="ion-text-center">Lists</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="starredList?.length">
    <ion-grid>
      <ion-row *ngFor="let list of starredList; let i = index" size="12" routerLink="/tabs/lists/view-list/{{list._id}}" class="ion-margin">
        <ion-col>
          <app-list-card [itemsList]="list"></app-list-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button id="open-custom-dialog" expand="block">
      <ion-icon name="add" routerLink="/tabs/lists/create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer></ion-footer>
