<ion-card class="ion-no-margin">
  <ion-card-header>
    <ion-card-title>List 1</ion-card-title>
    <ion-card-subtitle>August 23</ion-card-subtitle>
    <ion-icon name="create-outline" size="large" slot="end"></ion-icon>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let item of itemsList">
      <ion-list-header> Category 1 </ion-list-header>
      <ion-label class="ion-text-start">{{ item?.name }}</ion-label>
      <ion-label class="ion-text-center">{{ item?.quantity }} {{ item?.type }}</ion-label>
      <ion-label class="ion-text-center">{{ item?.brand ?? "-" }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
