ion-card {
  --background: #ffebeb;
  --color: #ff5757;
}
ion-card-title {
  --color: #ff5757;
}

ion-grid {
  --ion-grid-padding: 0;
}

ion-col {
  --ion-grid-column-padding: 0;
}

ion-icon {
  font-size: 1.5rem;
}
